# FRET distances measured:
#                   cAMP (Å)   no cNMP (Å)   -100 mV (Å) no cNMP at -100 mV
# W355-L481         21.8       16.8         14.8         11.7
# W355-E506         18         21.8         14.2         14.8
# W355-Y477         19.9       17.5         15.6         13.0
# C369-Y477         18.9       22.2         24.0         22.0
## subtract 166
# W189-L315 
AtomPair CB 189 CB 1788 SCALARWEIGHTEDFUNC 1.0 HARMONIC 11.7 1.0
AtomPair CB 315 CB 680 SCALARWEIGHTEDFUNC 1.0 HARMONIC 11.7 1.0
# W189-E340
AtomPair CB 189 CB 1813 SCALARWEIGHTEDFUNC 1.0 HARMONIC 14.8 1.0
AtomPair CB 340 CB 680 SCALARWEIGHTEDFUNC 1.0 HARMONIC 14.8 1.0
# W189-Y311
AtomPair CB 189 CB 1784 SCALARWEIGHTEDFUNC 1.0 HARMONIC 13.0 1.0
AtomPair CB 311 CB 680 SCALARWEIGHTEDFUNC 1.0 HARMONIC 13.0 1.0
# C203-Y311
AtomPair CB 203 CB 1784 SCALARWEIGHTEDFUNC 1.0 HARMONIC 22.0 1.0
AtomPair CB 311 CB 694 SCALARWEIGHTEDFUNC 1.0 HARMONIC 22.0 1.0
